/*MOVE IN GROUP*/
/* button, input[type="submit"], input[type="reset"] {
	background: none !important;
	color: inherit !important;
	border: none !important;
	padding: 0 !important;
	font: inherit !important;
	cursor: pointer !important;
	outline: inherit !important;
} */
.login {
	color: white;
	text-align: right;
	margin-right: 20px;
	margin-top: -30px;
}

.menu {
	text-align:right;
}

.login a {
	color: white;
}

.login .material-icons {
	font-size: 40px;
	margin-left: 10px;
}

.ui-button {
	color: #ffffff !important;
	background-color: #3bb4c1 !important;
	border-radius: 8px !important;
}

.ui-button:hover {
	color: #ffffff !important;
	background-color: #748CAB !important;
	border-radius: 8px !important;
}

.ui-datascroller-header {
	backgroud-color: #c8e6f5 !important;
}

body{
	background-color: #3bb4c1 !important;
}
.logo h1{
	color: #ffffff;
	font-size: 23px;
	text-align: center;
}

.card-center {
	margin: auto !important;
  	border: 3px solid #3bb4c1 !important;
  	padding: 10px !important;
}


/* declaracion de material designs */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

.circle-icon {
	background: #ffffff;
	padding: 20px;
	border: 1px solid #4CAF50;
	border-radius: 50%;
}


/*		visibilidad	 	*/
.display-soft {
	display: block;
}

.no-display-soft {
	display: none;
}

.display-hard {
	display: block !important;
}

.no-display-hard {
	display: none !important;
}


/* CÃ³digo de barras */
.codigoBarras {
	width: inherit;
	max-width: 100%;
	height: auto;
	margin: 20px 0px 20px 0px;
}

/* Datos de Contacto */
@media ( min-width : 1201px) {
	.card-w-title3 {
		min-width: 800px !important;
		max-width: 1000px !important;
	}
}

@media ( min-width : 500px) and (max-width: 1200px) {
	.card-w-title3 {
		min-width: 400px !important;
		max-width: 800px !important;
	}
}

/* solo desktop */
@media ( min-width : 769px) {
	.only-display-tablet {
		display: none !important;
	}
	.only-display-mobile {
		display: none !important;
	}
	.display-tablet-mobile {
		display: none !important;
	}
}

/* table y desktop */
@media ( min-width : 426px) {
	.display-tablet-desktop {
		display: block !important;
	}
}

/* solo table */
@media ( max-width : 768px) and (min-width: 426px) {
	.only-display-desk {
		display: none !important;
	}
	.only-display-mobile {
		display: none !important;
	}
}

/* table y mobile */
@media ( max-width : 768px) {
	.display-tablet-mobile {
		display: block !important;
	}
}

/* solo mobile */
@media ( max-width : 425px) {
	.only-display-desk {
		display: none !important;
	}
	.only-display-tablet {
		display: none !important;
	}
	.display-tablet-desktop {
		display: none !important;
	}
}

/* 		tamaÃ±os 		*/
.width-100 {
	width: 100% !important;
}

.width-90 {
	width: 90% !important;
}

.width-66 {
	width: 66% !important;
}

.width-50 {
	width: 50% !important;
}

.width-33 {
	width: 33% !important;
}

.width-25 {
	width: 25% !important;
}

.autocompletar input {
	width: 100% !important;
}

/* 		alineamiento 	*/
.align-center {
	text-align: center !important;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

/* 		padding y margins 		*/
.no-padding-lateral {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-padding-upDown {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-margin-upDown {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.margin-left-05 {
	margin-left: 0.5rem !important;
}

.margin-left-1 {
	margin-left: 1rem !important;
}

.margin-left-2 {
	margin-left: 2rem !important;
}

.margin-right-025 {
	margin-right: 0.25rem !important;
}

.margin-right-05 {
	margin-right: 0.5rem !important;
}

.margin-right-1 {
	margin-right: 1rem !important;
}

.margin-right-2 {
	margin-right: 2rem !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.margin-top-05 {
	margin-top: 0.5rem !important;
}

.margin-top-1 {
	margin-top: 1rem !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.margin-bottom-05 {
	margin-bottom: 0.5rem !important;
}

.margin-bottom-1 {
	margin-bottom: 1rem !important;
}

/* Responsive utilities */

/* Desktop */
@media ( min-width : 769px) {
	.no-margin-left {
		margin-left: 0px !important;
	}
	.rotate-180 {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.no-visible {
		display: block !important;
	}
	.visible {
		display: none !important;
	}
	.font-size-text {
		font-size: 12px;
	}
	.font-size-logo {
		font-size: 8px;
	}
}

/* Tablet */
@media ( max-width : 768px) {
	.no-margin-left-mobile {
		margin-left: 0px !important;
	}
	.rotate-180 {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.visible {
		display: block !important;
	}
	.no-visible {
		display: none !important;
	}
	.width-modal {
		width: 50% !important;
	}
	.font-size-text {
		font-size: 14px;
	}
	.font-size-logo {
		width: 9rem;
		height: 4.5rem;
	}
}

/* Mobile */
@media ( max-width : 425px) {
	.no-padding-lateral-xs {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.width-modal {
		width: 100% !important;
	}
	.font-size-text {
		font-size: 8px;
	}
	.font-size-logo {
		width: 7rem !important;
		height: 3.5rem !important;
	}
}